.page-container {
    align-items: center;
    justify-content: center;
}

.text-content {
    h1 {
        font-size: 50px;
    }
}

.main-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.avatar {
    width: 250px;
}

@media only screen and (max-width: 768px) {
    .page-container {
        flex-direction: column;
    }

    .text-content {
        text-align: center;
    }

    .main-buttons {
        justify-content: center;
    }
}

@media only screen and (max-width: 615px) {
    .avatar {
        width: 200px;
    }

    .text-content h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }
}