.home-container {
    height: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.text-content {
    h1 {
        font-size: 50px;
    }
}

.main-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.avatar {
    width: 250px;
}