.web-container {
    display: flex;
    height: 100%;
}

.web-content {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
}

app-footer {
    margin-top: auto;
    border-top: 1px solid #414339;
}