<div class="sidebar">
    <div class="sidebar-index">
        <ul>
            <li class="sidebar-item" [class.active]="!panelHidden" (click)="panelHidden = !panelHidden">
                <i class='bx bx-menu'></i>
                <span class="tooltip">Explorer</span>
            </li>
            <li class="sidebar-item">
                <a href="#">
                    <i class='bx bx-search'></i>
                </a>
                <span class="tooltip">Search</span>
            </li>
            <li class="sidebar-item">
                <a href="#" target="_blank">
                    <i class='bx bxl-github'></i>
                </a>
                <span class="tooltip">GitHub</span>
            </li>
            <li class="sidebar-item">
                <a href="#" target="_blank">
                    <i class='bx bxl-linkedin'></i>
                </a>
                <span class="tooltip">LinkedIn</span>
            </li>
            <li class="sidebar-item push-bottom">
                <a href="#">
                    <i class='bx bx-user-circle'></i>
                </a>
                <span class="tooltip">About me</span>
            </li>
            <li class="sidebar-item">
                <a href="#">
                    <i class='bx bx-envelope'></i>
                </a>
                <span class="tooltip">Contact</span>
            </li>
        </ul>
    </div>
    <div class="sidebar-panel" *ngIf="!panelHidden">
    </div>
</div>