.sidebar {
    display: flex;
    height: 100%;
}

.sidebar-panel {
    flex: 1;
    width: 200px;
    background-color: var(--secondary);
}

.sidebar-index {
    width: 50px;
    background-color: var(--primary);

    ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}

.sidebar-item {
    color: #6D7B75;
    font-size: 30px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // box-shadow: inset 2px 0 white;

    a {
        color: inherit;
    }

    &:hover {
        cursor: pointer;
        color: white;
    }
}

.sidebar-item.push-bottom {
    margin-top: auto;
}