<div class="sidebar">
    <div class="sidebar-index">
        <ul>
            <li class="sidebar-item" [class.active]="!panelHidden" (click)="panelHidden = !panelHidden">
                <a href="#">
                    <ic-icon icon="menu"></ic-icon>
                </a>
                <span class="tooltip">Explorer</span>
            </li>
            <li class="sidebar-item">
                <a href="#">
                    <ic-icon icon="search"></ic-icon>
                </a>
                <span class="tooltip">Search</span>
            </li>
            <li class="sidebar-item">
                <a href="#" target="_blank">
                    <ic-icon icon="github"></ic-icon>
                </a>
                <span class="tooltip">GitHub</span>
            </li>
            <li class="sidebar-item">
                <a href="#" target="_blank">
                    <i class='bx bxl-linkedin'></i>
                </a>
                <span class="tooltip">LinkedIn</span>
            </li>
            <li class="sidebar-item push-bottom">
                <a href="#">
                    <ic-icon icon="account"></ic-icon>
                </a>
                <span class="tooltip">About me</span>
            </li>
            <li class="sidebar-item">
                <a href="#">
                    <ic-icon icon="mail"></ic-icon>
                </a>
                <span class="tooltip">Contact</span>
            </li>
        </ul>
    </div>
    <div class="sidebar-panel" *ngIf="!panelHidden">
        <div class="menu-header">
            Explorer
        </div>
        <div class="accordions">
            <a class="accordion-header">
                <ic-icon icon="chevron-down"></ic-icon>
                Menu
            </a>
            <div class="accordion-content">
                <ul>
                    <li class="active">
                        <i class='bx bxl-html5'></i>
                        <a href="#">index.html</a>
                    </li>
                    <li>
                        <i class='bx bxl-css3'></i>
                        <a href="#">styles.css</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>