<div class="sidebar">
    <div class="sidebar-index">
        <ul>
            <li class="sidebar-item" [class.active]="!panelHidden" (click)="panelHidden = !panelHidden">
                <a href="#">
                    <ic-icon icon="menu"></ic-icon>
                </a>
                <span class="tooltip">Explorer</span>
            </li>
            <li class="sidebar-item">
                <a href="#">
                    <ic-icon icon="search"></ic-icon>
                </a>
                <span class="tooltip">Search</span>
            </li>
            <li class="sidebar-item">
                <a href="#" target="_blank">
                    <ic-icon icon="github"></ic-icon>
                </a>
                <span class="tooltip">GitHub</span>
            </li>
            <li class="sidebar-item">
                <a href="#" target="_blank">
                    <i class='bx bxl-linkedin'></i>
                </a>
                <span class="tooltip">Linkedin</span>
            </li>
            <li class="sidebar-item push-bottom">
                <a href="#">
                    <ic-icon icon="account"></ic-icon>
                </a>
                <span class="tooltip">About me</span>
            </li>
            <li class="sidebar-item">
                <a href="#">
                    <ic-icon icon="mail"></ic-icon>
                </a>
                <span class="tooltip">Contact</span>
            </li>
        </ul>
    </div>
    <div class="sidebar-panel" *ngIf="!panelHidden">
        <div class="menu-header">
            Explorer
        </div>
        <div class="accordions">
            <ng-container *ngFor="let accordion of accordions">
                <a class="accordion-header">
                    <ic-icon icon="chevron-down"></ic-icon>
                    {{accordion.title}}
                </a>
                <div class="accordion-content">
                    <ul>
                        <li *ngFor="let link of accordion.children">
                            <i [class]='link.icon'></i>
                            <a href="#">{{link.text}}</a>
                        </li>
                    </ul>
                </div>
            </ng-container>
            
        </div>
    </div>
</div>