.page-container {
    flex-direction: column;

    & > h2 {
        font-size: 40px;
    }
}

.projects-container {
    display: flex;
    gap: 20px;
}

.card {
    width: 240px;
}

.card-content {
    font-size: 14px;
}