* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Consolas, 'Courier New', monospace;
    --primary: #272822;
    --secondary: #1E1F1C;
    --tertiary: #414339;
    --text: #CCCCCC;
    --border: #646252;
    --red: #F93147;
    --light-blue: #66D9EF;
    --green: #A6E22E;
}

html, body { 
    height: 100%;
    color: white;
}

html {
    scroll-behavior: smooth;
}

ic-icon {
    display: flex;
}

.bxl-html5 {
    color: #E44D26;
}

.bxl-css3 {
    color: #42A5F5;
}

.bxl-javascript {
    color: yellow;
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

.light-blue {
    color: var(--light-blue);
}

.code-button {
    height: 40px;
    padding: 10px;
    font-size: 15px;
    background-color: transparent;
    color: var(--text);
    cursor: pointer;
    border: 1px solid #75715E;

    &:hover {
        background-color: var(--tertiary);
    }
}