* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Consolas, 'Courier New', monospace;
    --primary: #272822;
    --secondary: #1E1F1C;
    --tertiary: #414339;
    --text: #CCCCCC;
    --border: #646252;
    --red: #F93147;
    --light-blue: #66D9EF;
    --green: #A6E22E;
    scrollbar-width: 15px;
    scrollbar-color: #474844 transparent;
    &::-webkit-scrollbar {
        width: 15px;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
        border-left: 1px solid var(--tertiary);
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #474844;
    
        &:hover {
            background-color: #525250;
        }
    }
}


html, body { 
    height: 100%;
    color: white; 
}

html {
    scroll-behavior: smooth;
}

.page-container {
    min-height: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

ic-icon {
    display: flex;
}

.bxl-html5 {
    color: #E44D26;
}

.bxl-css3 {
    color: #42A5F5;
}

.bxl-javascript {
    color: #FFCA28;
}

.bxs-folder, .bxs-folder-open {
    color: #90A4AE
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

.light-blue {
    color: var(--light-blue);
}

.code-button {
    width: fit-content;
    display: block;
    padding: 5px 10px;
    font-size: 15px;
    background-color: #75715E;
    color: #EDFFE8;
    cursor: pointer;

    &:hover {
        background-color: #8D8871;
    }
}

.code-card {
    padding: 20px 10px;
    background-color: #2D2E29;
    color: var(--text);
    border: 1px solid #75715E;
}

.code-card-header {
    font-size: 20px;
    font-weight: bold;
}

.code-card-divider {
    border: 1px solid #75715E;
    margin: 20px auto;
    width: 50%;
}

.code-card-content {
    text-align: center;
}